.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
  }
  
  .flex-container > * {
    padding: 10px;
    flex: 1 100%;
  }

  form {
    padding: 10px;
    align-self: flex-start;
  }

  input {
    margin: 10px;
    align-self: flex-start;
  }

  .aside2 { text-align: left; }
  
  .main {
    text-align: left;
    background: moccasin;
    /* background: cornflowerblue; */
  }
  
  .header {background: rgb(255, 127, 80);}
  .footer {background: rgb(144, 238, 144);}
  .aside1 {background: rgb(255, 228, 181);}
  .aside2 {background: moccasin;}

  #scroll {
    height: 300px;
    overflow-x: none; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
  }

  #id-canvas {
    margin: auto;
    background: cornflowerblue;
  }
  
  @media all and (min-width: 768px) {
    .aside { 
        flex: 1 0px;
        height: 525px;
     }
    .main    { flex: 1 0px; }
    .aside1 { order: 1;
              flex: 3; } 
    .main    { order: 2; }
    .aside2 { order: 3;
              flex: 3 }
    .footer  { order: 4; }
  }