<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link href="style.css" rel="stylesheet"> -->
  <script src="../vue.js"></script>
</head>

<body>
  <div id="app">

    <ul>
      <div v-for="n in 10">{{ n }}</div>
    </ul>

    <hr>

    <ul>
      <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
    </ul>

    <button @click="ingredients.push('spices')">Add new</button>
    
    <hr>

    <ul>
      <!-- <li v-for="person in persons">{{ person.name }}</li> -->

      <li v-for="person in persons">
        <div v-for="(value, key, i) in person">{{ key }}: {{ value }} ({{ i }})</div>
      </li>
    </ul>

    <hr>

    <template v-for="(ingredient, i) in ingredients">
      <h3>{{ ingredient }}</h3>
      <p>{{ i }}</p>
    </template>

  </div>

  <script src="script.js"></script>
</body>

</html>